In [32]:
import numpy
import numpy as np
import pandas as pd
import string
import nltk
import re
import matplotlib.pyplot as plt
import gensim.corpora as corpora
import gensim
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from gensim.models import Phrases, CoherenceModel
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('english')
nltk.download('wordnet')
nltk.download('punkt')

wordnet_lemmatizer = WordNetLemmatizer()
wpt = nltk.WordPunctTokenizer()
lemmatizer = nltk.WordNetLemmatizer()

# Point to directories 
jobs = pd.read_csv(r"C:\Users\shahb\Desktop\capstone\all_jobs.csv")
resumes = pd.read_csv(r"C:\Users\shahb\Desktop\capstone\all_resumes.csv")

# How many jobs and resumes
print("Number of jobs: " + str(jobs.shape[0]))
print("Number of resumes: " + str(resumes.shape[0]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shahb\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\shahb\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shahb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Number of jobs: 20000
Number of resumes: 29783

In [33]:
type(jobs)
jobs

,Unnamed: 0,job_title,category,company_name,inferred_city,inferred_state,inferred_country,job_description,job_type
0,0,Sr. Software Developer,architecture and engineering,Aerotek,Raleigh,North carolina,Usa,The chosen Sr. Software Developer will be part...,Full Time
1,1,C# Lead Software Developer,NaN,3coast,Middletown,New jersey,Usa,Position: C# Lead Software Developer Locat...,Full Time
2,2,Senior Software Developer,NaN,s.com,Hoboken,New jersey,Usa,"Senior Software Developer Hoboken, NJ Starts a...",Contract
3,3,Senior Software Developer,NaN,"Mitchell Martin, Inc.",Hoboken,New jersey,Usa,"Our client, a multinational publishing and edu...",Contract
4,4,C# Lead Software Developer,NaN,3coast,Philadelphia,Pennsylvania,Usa,Position: C# Lead Software Developer Locat...,Full Time
...,...,...,...,...,...,...,...,...,...
19995,10002,Data Scientist,Data Scientist,Upstart,Columbus,Wisconsin,United states,Join Upstart and help build the future of cred...,Full Time
19996,10003,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa clara,New mexico,United states,"Data Scientist, (Staff or Principal) at realto...",Full Time
19997,10004,"Siri - Embedded Data Scientist, Data Organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,Pennsylvania,United states,Job Summary: Would you like to play a part in ...,Full Time
19998,10005,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa clara,New mexico,United states,"Data Scientist, (Staff or Principal) at realto...",Full Time
19999,10006,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa clara,New mexico,United states,"Data Scientist, (Staff or Principal) at realto...",Full Time

In [34]:
# jobs
city, citycount = np.unique(list(jobs.loc[:, "inferred_city"]), return_counts = True)
state, statecount  = np.unique(list(jobs.loc[:, "inferred_state"]), return_counts = True)
country, countrycount = np.unique(list(jobs.loc[:, "inferred_country"]), return_counts = True)

In [35]:
cities_dict = dict(zip(city, citycount))

In [36]:
# len(city) 1254
cities_dict

{'Aberdeen': 30,
 'Abilene': 1,
 'Abingdon': 2,
 'Abita springs': 1,
 'Absecon': 1,
 'Acton': 5,
 'Adamsville': 1,
 'Addison': 20,
 'Adrian': 1,
 'Agoura hills': 1,
 'Aiken': 2,
 'Akron': 5,
 'Alafaya': 2,
 'Alameda': 3,
 'Albany': 12,
 'Albemarle': 2,
 'Albuquerque': 13,
 'Alexandria': 104,
 'Alhambra': 2,
 'Aliso': 4,
 'Aliso viejo': 17,
 'Allen': 3,
 'Allentown': 6,
 'Aloha': 1,
 'Alpharetta': 73,
 'Altamonte springs': 3,
 'Amarillo': 1,
 'Ambler': 6,
 'American fork': 2,
 'Ames': 6,
 'Ames lake': 1,
 'Amherst': 2,
 'Anaheim': 1,
 'Anchorage': 1,
 'Anderson': 2,
 'Andover': 16,
 'Angeles': 5,
 'Ann arbor': 38,
 'Annandale': 4,
 'Annapolis': 99,
 'Apopka': 1,
 'Apple valley': 3,
 'Appleton': 10,
 'Arabi': 1,
 'Arden hills': 1,
 'Arizona city': 1,
 'Arlington': 201,
 'Arlington heights': 1,
 'Armonk': 15,
 'Arnold': 4,
 'Asbury': 2,
 'Ashburn': 16,
 'Asheville': 25,
 'Ashland': 2,
 'Athens': 9,
 'Atlanta': 320,
 'Atlantic city': 3,
 'Auburn': 8,
 'Auburn hills': 4,
 'Audubon': 1,
 'Augusta': 3,
 'Aurora': 12,
 'Austin': 282,
 'Ava': 1,
 'Avon': 1,
 'Bakersfield': 5,
 'Ballwin': 4,
 'Baltimore': 71,
 'Bannockburn': 1,
 'Bar harbor': 3,
 'Bartlesville': 2,
 'Basking ridge': 10,
 'Baton rouge': 9,
 'Beachwood': 1,
 'Beaufort': 4,
 'Beavercreek': 5,
 'Beaverton': 12,
 'Bedford': 9,
 'Bedminster': 4,
 'Belcamp': 2,
 'Belden': 1,
 'Bellaire': 3,
 'Belle isle': 1,
 'Bellevue': 93,
 'Bellingham': 5,
 'Belmont': 2,
 'Beloit': 1,
 'Belton': 14,
 'Belvidere': 1,
 'Belvoir': 6,
 'Benbrook': 1,
 'Bend': 1,
 'Bensenville': 1,
 'Benton': 3,
 'Bentonville': 32,
 'Berkeley': 11,
 'Berlin': 3,
 'Berwick': 3,
 'Berwyn': 4,
 'Bethel': 1,
 'Bethesda': 65,
 'Bethlehem': 2,
 'Billerica': 4,
 'Binghamton': 1,
 'Birmingham': 58,
 'Bismarck': 3,
 'Blacksburg': 4,
 'Blaine': 1,
 'Bloomfield': 5,
 'Bloomfield hills': 2,
 'Bloomington': 35,
 'Blue ash': 2,
 'Blue bell': 1,
 'Bluffdale': 4,
 'Boca raton': 24,
 'Boise': 24,
 'Bolingbrook': 11,
 'Bon air': 1,
 'Bossier city': 1,
 'Boston': 358,
 'Bothell': 7,
 'Boulder': 26,
 'Bowie': 2,
 'Bowling green': 1,
 'Bradenton': 3,
 'Brainerd': 1,
 'Braintree': 1,
 'Branchville': 3,
 'Brandon': 1,
 'Branford': 1,
 'Brant rock': 1,
 'Brea': 4,
 'Brecksville': 3,
 'Bremerton': 2,
 'Brentwood': 1,
 'Brevard': 1,
 'Bridgeport': 1,
 'Bridgewater': 1,
 'Bridgman': 1,
 'Brier': 1,
 'Brighton': 5,
 'Bristol': 1,
 'Broadview heights': 3,
 'Brockton': 2,
 'Broken arrow': 1,
 'Bronx': 3,
 'Brookfield': 8,
 'Brooklawn': 1,
 'Brookline': 3,
 'Brooklyn': 6,
 'Brooklyn center': 1,
 'Broomfield': 36,
 'Brunswick': 1,
 'Bryan': 2,
 'Buckhead': 5,
 'Buffalo': 15,
 'Buffalo grove': 4,
 'Burbank': 2,
 'Burlingame': 3,
 'Burlington': 16,
 'Burr ridge': 5,
 'Byron center': 2,
 'Calabasas': 1,
 'Caldwell': 1,
 'Califon': 1,
 'Camarillo': 5,
 'Cambridge': 109,
 'Camden': 1,
 'Camp hill': 5,
 'Campbell': 9,
 'Canonsburg': 9,
 'Canton': 2,
 'Cape canaveral': 1,
 'Capitol hill': 4,
 'Carle place': 3,
 'Carlsbad': 27,
 'Carmel': 4,
 'Carnegie': 1,
 'Carolina': 1,
 'Carrollton': 18,
 'Carson city': 2,
 'Cary': 28,
 'Casa grande': 1,
 'Castle hayne': 1,
 'Castle rock': 1,
 'Catonsville': 2,
 'Cave springs': 4,
 'Cedar falls': 2,
 'Cedar rapids': 12,
 'Celebration': 1,
 'Centennial': 14,
 'Center': 6,
 'Centerville': 2,
 'Central': 12,
 'Centralia': 1,
 'Centreville': 14,
 'Cerritos': 4,
 'Chambersburg': 1,
 'Champaign': 6,
 'Chandler': 17,
 'Chanhassen': 3,
 'Chantilly': 94,
 'Chapel hill': 15,
 'Charleston': 17,
 'Charlotte': 228,
 'Charlottesville': 37,
 'Chattanooga': 3,
 'Cheektowaga': 2,
 'Chelmsford': 1,
 'Cherry hill': 1,
 'Chesapeake': 6,
 'Chester': 7,
 'Chesterfield': 26,
 'Cheswick': 1,
 'Chevy chase village': 1,
 'Cheyenne': 1,
 'Chicago': 587,
 'Chicopee': 1,
 'Chubbuck': 1,
 'Cincinnati': 70,
 'Clarion': 1,
 'Clarksburg': 2,
 'Clarkson valley': 2,
 'Clarksville': 1,
 'Clayton': 8,
 'Clearwater': 9,
 'Cleveland': 41,
 'Clifton': 2,
 'Clifton park': 1,
 'Clinton': 4,
 'Cochran': 1,
 "Coeur d'alene": 2,
 'Cold spring': 2,
 'College park': 6,
 'College station': 11,
 'Collegeville': 4,
 'Colleyville': 1,
 'Collierville': 16,
 'Collinsville': 2,
 'Colma': 1,
 'Colorado springs': 39,
 'Columbia': 53,
 'Columbus': 129,
 'Commack': 2,
 'Commerce city': 1,
 'Compton': 2,
 'Concord': 7,
 'Conestoga': 1,
 'Conroe': 1,
 'Conshohocken': 6,
 'Conway': 5,
 'Coppell': 18,
 'Coral gables': 4,
 'Coralville': 4,
 'Coraopolis': 10,
 'Cordova': 2,
 'Corning': 14,
 'Corona': 3,
 'Corpus christi': 1,
 'Corvallis': 2,
 'Costa mesa': 18,
 'Cottonwood': 2,
 'Covington': 3,
 'Cranberry': 1,
 'Cranbury': 3,
 'Cranford': 1,
 'Creve coeur': 21,
 'Crockett': 1,
 'Culver city': 21,
 'Cumming': 24,
 'Cupertino': 12,
 'Dahlgren': 5,
 'Daleville': 1,
 'Dallas': 201,
 'Dalton': 2,
 'Damascus': 1,
 'Danvers': 7,
 'Davenport': 3,
 'Davis': 7,
 'Dayton': 57,
 'Dearborn': 63,
 'Decatur': 4,
 'Dedham': 4,
 'Deer park': 4,
 'Deer valley': 1,
 'Deerfield': 7,
 'Deerfield beach': 3,
 'Delafield': 1,
 'Denton': 1,
 'Denver': 120,
 'Depew': 1,
 'Des moines': 15,
 'Des plaines': 8,
 'Detroit': 59,
 'Devens': 3,
 'Diamond bar': 2,
 'Donnelly': 1,
 'Dover': 22,
 'Downers grove': 12,
 'Downey': 1,
 'Downingtown': 1,
 'Draper': 11,
 'Dublin': 21,
 'Dubuque': 3,
 'Duluth': 7,
 'Dumfries': 1,
 'Dunwoody': 5,
 'Durham': 47,
 'Eagan': 13,
 'Eagle': 1,
 'East cambridge': 2,
 'East hanover': 17,
 'East hartford': 8,
 'East palo alto': 10,
 'East rutherford': 1,
 'Eastwick': 1,
 'Ecorse': 1,
 'Eden prairie': 25,
 'Edison': 4,
 'Egypt': 5,
 'El dorado hills': 1,
 'El paso': 6,
 'El segundo': 36,
 'Elgin': 2,
 'Elizabethtown': 4,
 'Elk grove': 3,
 'Elkhart': 1,
 'Elkridge': 3,
 'Ellicott city': 1,
 'Ellisville': 1,
 'Elmhurst': 1,
 'Emerson': 3,
 'Emeryville': 5,
 'Englewood': 29,
 'Englewood cliffs': 2,
 'Erie': 1,
 'Essex junction': 2,
 'Estero': 3,
 'Estrella': 1,
 'Eugene': 3,
 'Evanston': 5,
 'Evansville': 3,
 'Evergreen': 3,
 'Exeter': 3,
 'Fairborn': 1,
 'Fairfax': 99,
 'Fairfax station': 1,
 'Fairfield': 2,
 'Fairmont': 2,
 'Fallon': 1,
 'Falls church': 12,
 'Fargo': 3,
 'Faribault': 3,
 'Farmers branch': 1,
 'Farmington': 7,
 'Farmington hills': 5,
 'Fayetteville': 3,
 'Feasterville': 1,
 'Fells point': 1,
 'Fenton': 5,
 'Ferndale': 2,
 'Findlay': 2,
 'Fishers': 2,
 'Five points': 1,
 'Flagstaff': 1,
 'Florence': 1,
 'Florham park': 14,
 'Foggy bottom': 3,
 'Folsom': 2,
 'Foothill ranch': 2,
 'Forest': 32,
 'Fort carson': 1,
 'Fort collins': 5,
 'Fort lauderdale': 26,
 'Fort mill': 9,
 'Fort myers': 11,
 'Fort washington': 2,
 'Fort wayne': 17,
 'Fort worth': 57,
 'Foster city': 20,
 'Foxborough': 2,
 'Framingham': 9,
 'Frankfort': 3,
 'Franklin': 23,
 'Franklin lakes': 8,
 'Franklin square': 1,
 'Frederick': 13,
 'Fredericksburg': 4,
 'Freedom': 4,
 'Freehold': 1,
 'Fremont': 19,
 'Fresno': 1,
 'Frisco': 6,
 'Fulton': 2,
 'Gahanna': 4,
 'Gainesville': 6,
 'Gaithersburg': 11,
 'Gardena': 1,
 'Gardner': 2,
 'Garland': 1,
 'Gastonia': 1,
 'Gatesville': 1,
 'Germantown': 1,
 'Gibbon': 1,
 'Gilbert': 3,
 'Glen allen': 10,
 'Glendale': 23,
 'Glendale heights': 1,
 'Glennville': 1,
 'Glenview': 6,
 'Glenwood': 2,
 'Gloucester city': 1,
 'Golden': 11,
 'Golden valley': 1,
 'Goodyear': 1,
 'Gordon': 3,
 'Grand blanc': 2,
 'Grand forks': 1,
 'Grand prairie': 4,
 'Grand rapids': 26,
 'Granville': 3,
 'Grayslake': 1,
 'Great neck': 6,
 'Greeley': 10,
 'Green bay': 6,
 'Greenbelt': 8,
 'Greenfield': 2,
 'Greensboro': 30,
 'Greenville': 16,
 'Greenwich': 12,
 'Greenwich village': 1,
 'Greenwood': 1,
 'Greenwood village': 4,
 'Greer': 1,
 'Gresham': 1,
 'Gretna': 1,
 'Groton': 4,
 'Grove city': 1,
 'Groveport': 1,
 'Guaynabo': 1,
 'Hamburg': 1,
 'Hamilton': 7,
 'Hammond': 1,
 'Hampton': 12,
 'Hanover': 5,
 'Hanson': 1,
 'Harahan': 1,
 'Harrisburg': 3,
 'Harrison': 1,
 'Hartford': 104,
 'Hartselle': 1,
 'Harvey': 2,
 'Hattiesburg': 2,
 'Hauppauge': 1,
 'Hawthorne': 1,
 'Hayward': 1,
 'Hazelwood': 1,
 'Heathrow': 1,
 'Hebron': 1,
 'Helena': 3,
 'Helmetta': 1,
 'Hemet': 3,
 'Hempstead': 1,
 'Henderson': 1,
 'Henrico': 1,
 'Hermitage': 1,
 'Herndon': 126,
 'Hershey': 8,
 'Hesston': 1,
 'High point': 11,
 'Highland beach': 1,
 'Highland park': 1,
 'Highlands': 3,
 'Hillcrest heights': 1,
 'Hilliard': 4,
 'Hills': 4,
 'Hillsboro': 11,
 'Hines': 3,
 'Hoboken': 18,
 'Hoffman': 6,
 'Holbrook': 1,
 'Holland': 1,
 'Hollywood': 17,
 'Holyoke': 1,
 'Home': 2,
 'Homestead': 1,
 'Honolulu': 9,
 'Hood river': 1,
 'Hooksett': 1,
 'Hopewell': 1,
 'Hopkins': 2,
 'Hopkinsville': 1,
 'Hopkinton': 1,
 'Horsham': 8,
 'Houghton': 1,
 'Houston': 219,
 'Howard park': 1,
 'Huber heights': 1,
 'Hudson': 1,
 'Hunt valley': 1,
 'Hunters creek village': 3,
 'Huntersville': 4,
 'Huntington beach': 8,
 'Huntsville': 66,
 'Hutchinson': 1,
 'Idaho falls': 3,
 'Independence': 4,
 'Indian head': 1,
 'Indian springs village': 1,
 'Indianapolis': 72,
 'Intervale': 1,
 'Inver grove heights': 2,
 'Iowa city': 5,
 'Ipswich': 1,
 'Irondale': 1,
 'Irvine': 102,
 'Irving': 112,
 'Irvington': 1,
 'Irwindale': 1,
 'Iselin': 4,
 'Island heights': 1,
 'Islip': 1,
 'Issaquah': 15,
 'Itasca': 6,
 'Ithaca': 1,
 'Ivel': 2,
 'Jackson': 10,
 'Jacksonville': 59,
 'Jacksonville beach': 3,
 'Jamestown': 1,
 'Jefferson': 3,
 'Jeffersonville': 7,
 'Jersey city': 51,
 'Jessup': 1,
 'Johns creek': 4,
 'Johnston': 2,
 'Johnstown': 1,
 'Juneau': 1,
 'Juno beach': 7,
 'Jupiter': 6,
 'Kalamazoo': 4,
 'Kalispell': 2,
 'Kansas city': 50,
 'Katy': 1,
 'Kearney': 2,
 'Kenilworth': 2,
 'Kenmore': 1,
 'Kennesaw': 1,
 'Kennewick': 1,
 'Kent': 6,
 'Kentwood': 3,
 'Keyport': 1,
 'Killeen': 4,
 'King george': 2,
 'King of prussia': 24,
 'Kingsport': 3,
 'Kirkland': 4,
 'Knoxville': 8,
 'Lacey': 4,
 'Lackawanna': 1,
 'Ladera ranch': 1,
 'Ladue': 3,
 'Lafayette': 5,
 'Laguna beach': 1,
 'Laguna niguel': 1,
 'Lake angelus': 2,
 'Lake charles': 1,
 'Lake elmo': 1,
 'Lake forest': 44,
 'Lake mary': 6,
 'Lake oswego': 1,
 'Lakeland': 9,
 'Lakeville': 1,
 'Lakewood': 24,
 'Lambertville': 1,
 'Lancaster': 3,
 'Langley': 1,
 'Lanham': 11,
 'Lansdale': 1,
 'Lansing': 9,
 'Largo': 9,
 'Larkspur': 1,
 'Las vegas': 25,
 'Latham': 1,
 'Laurel': 16,
 'Lawrence': 2,
 'Lawrenceville': 6,
 'League city': 1,
 'Leavenworth': 2,
 'Leawood': 6,
 'Lebanon': 8,
 'Leeds': 1,
 'Lees summit': 1,
 'Leesburg': 1,
 'Lehi': 32,
 'Lemont': 4,
 'Lenexa': 9,
 'Lewisville': 11,
 'Lexington': 43,
 'Lexington park': 22,
 'Liberty corner': 1,
 'Liberty lake': 1,
 'Lima': 2,
 'Lincoln': 10,
 'Lincolnshire': 2,
 'Lincroft': 2,
 'Lindale': 1,
 'Lindon': 6,
 'Linthicum': 45,
 'Linthicum heights': 2,
 'Lisle': 11,
 'Little chute': 2,
 'Little rock': 13,
 'Littleton': 29,
 'Livermore': 15,
 'Liverpool': 2,
 'Livonia': 7,
 'Logan': 1,
 'Logan circle': 2,
 'Lombard': 2,
 'Long beach': 12,
 'Long island city': 1,
 'Longmont': 5,
 'Longwood': 4,
 'Lorain': 2,
 'Lorton': 1,
 'Los alamos': 9,
 'Los angeles': 235,
 'Los gatos': 4,
 'Lost river': 1,
 'Louisville': 28,
 'Loveland': 2,
 'Lowell': 5,
 'Lower garden district': 1,
 'Lubbock': 5,
 'Lumberton': 11,
 'Lynchburg': 3,
 'Lyndhurst': 1,
 'Lynn': 1,
 'Lynnfield': 1,
 'Lyon village': 2,
 'Macon': 3,
 'Madison': 38,
 'Madison heights': 2,
 'Maitland': 1,
 'Malden': 1,
 'Malibu': 2,
 'Malvern': 42,
 'Manalapan': 1,
 'Manassas': 11,
 'Manawa': 2,
 'Manchester': 13,
 'Mandan': 1,
 'Manhattan': 10,
 'Manhattan beach': 5,
 'Manteca': 1,
 'Manville': 1,
 'Maple grove': 2,
 'Maple plain': 1,
 'Maplewood': 8,
 'Maricopa': 1,
 'Marietta': 7,
 'Marina del rey': 4,
 'Mark': 1,
 'Marlborough': 4,
 'Marlow heights': 3,
 'Marlton': 2,
 'Marshall': 1,
 'Marshalltown': 1,
 'Maryland heights': 18,
 'Marysville': 3,
 'Maryville': 3,
 'Mason': 14,
 'Mayfield': 5,
 'Mayfield heights': 1,
 'Maynard': 1,
 'Mayville': 1,
 'Mckinney': 3,
 'Mclean': 137,
 'Mechanicsburg': 3,
 'Medford': 7,
 'Melbourne': 18,
 'Melrose': 1,
 'Melrose park': 2,
 'Melville': 6,
 'Memphis': 26,
 'Menlo park': 67,
 'Menomonee falls': 5,
 'Mentor': 1,
 'Mequon': 1,
 'Meridian': 2,
 'Merrifield': 9,
 'Merrill': 1,
 'Merritt island': 3,
 'Mesa': 10,
 'Mesquite': 1,
 'Metairie': 2,
 'Mettawa': 1,
 'Miami': 82,
 'Miami beach': 1,
 'Miami lakes': 2,
 'Miamisburg': 1,
 'Michigan center': 1,
 'Middlesex': 1,
 'Middleton': 3,
 'Middletown': 15,
 'Midvale': 22,
 'Milford': 1,
 'Millbrae': 1,
 'Millersville': 1,
 'Millwood': 1,
 'Milpitas': 16,
 'Milwaukee': 40,
 'Minden': 3,
 'Minneapolis': 104,
 'Minnetonka': 13,
 'Miramar': 7,
 'Mishawaka': 1,
 'Mission': 8,
 'Mission hills': 1,
 'Missoula': 1,
 'Missouri city': 1,
 'Mitchell': 1,
 'Mobile': 8,
 'Modesto': 3,
 'Moline': 7,
 'Mondovi': 2,
 'Monroe': 16,
 'Monroeville': 1,
 'Monterey': 10,
 'Monterey park': 1,
 'Montgomery': 22,
 'Montreal': 1,
 'Moorestown': 4,
 'Mooresville': 22,
 'Morgantown': 13,
 'Morningside': 1,
 'Morris plains': 5,
 'Morristown': 8,
 'Morrisville': 32,
 'Morton': 4,
 'Morton grove': 2,
 'Mossville': 8,
 'Mount adams': 6,
 'Mount airy': 1,
 'Mount arlington': 1,
 'Mount laurel': 3,
 'Mount pleasant': 1,
 'Mount prospect': 2,
 'Mountain view': 122,
 'Mountlake terrace': 1,
 'Munhall': 1,
 'Murray': 7,
 'Murray hill': 2,
 'Murrysville': 1,
 'Muscle shoals': 1,
 'Muskegon': 1,
 'Napa': 3,
 'Naperville': 21,
 'Naples': 7,
 'Nashua': 4,
 'Nashville': 59,
 'Natick': 1,
 'National': 1,
 'Naugatuck': 1,
 'Needham': 7,
 'Neenah': 1,
 'Neptune beach': 4,
 'Neuse': 1,
 'New albany': 2,
 'New berlin': 1,
 'New bremen': 1,
 'New britain': 5,
 'New brunswick': 11,
 'New carrollton': 10,
 'New castle': 6,
 'New franken': 1,
 'New freedom': 2,
 'New haven': 3,
 'New hudson': 1,
 'New orleans': 28,
 'New york': 797,
 'Newark': 18,
 'Newport beach': 20,
 'Newport news': 12,
 'Newton': 3,
 'Newtown': 12,
 'Niceville': 2,
 'Niles': 2,
 'Niskayuna': 3,
 'Niwot': 2,
 'Norcross': 14,
 'Norfolk': 30,
 'Norman': 6,
 'North': 8,
 'North attleboro': 1,
 'North cambridge': 1,
 'North canton': 2,
 'North charleston': 5,
 'North chelmsford': 1,
 'North chicago': 1,
 'North edwards': 5,
 'North little rock': 3,
 'North pembroke': 1,
 'North reading': 1,
 'North salt lake': 1,
 'North scituate': 2,
 'North wales': 2,
 'Northbrook': 19,
 'Northfield': 2,
 'Northridge': 1,
 'Northville': 7,
 'Northwest': 1,
 'Norwalk': 5,
 'Norwood': 5,
 'Novato': 1,
 'Novi': 3,
 'Nutting lake': 1,
 "O'fallon": 3,
 'Oak brook': 25,
 'Oak harbor': 1,
 'Oak ridge': 5,
 'Oakdale': 1,
 'Oakland': 16,
 'Oakland park': 2,
 'Ocala': 1,
 'Oconomowoc': 1,
 'Odenton': 5,
 'Odessa': 1,
 'Ogden': 1,
 'Oklahoma city': 35,
 'Olathe': 4,
 'Oldsmar': 9,
 'Olean': 1,
 'Omaha': 21,
 'Ontario': 9,
 'Orange': 4,
 'Orange park': 2,
 'Orchard park': 1,
 'Orem': 4,
 'Orlando': 62,
 'Oshkosh': 3,
 'Oswego': 7,
 'Ottumwa': 2,
 'Overland park': 24,
 'Owings mills': 14,
 'Owosso': 1,
 'Oxnard': 1,
 'Painted post': 1,
 'Palatine': 1,
 'Palm beach': 2,
 'Palm beach gardens': 2,
 'Palmdale': 8,
 'Palo alto': 98,
 'Panama city': 4,
 'Papillion': 1,
 'Park city': 7,
 'Park forest': 1,
 'Parkville': 1,
 'Parsippany': 13,
 'Pasadena': 31,
 'Passaic': 1,
 'Patterson': 6,
 'Patuxent': 5,
 'Peabody': 1,
 'Peachtree city': 4,
 'Peachtree corners': 4,
 'Peapack': 22,
 'Pearl river': 2,
 'Pelham': 1,
 'Pennington': 12,
 'Pensacola': 1,
 'Peoria': 20,
 'Peoria heights': 3,
 'Perrysburg': 1,
 'Peterborough': 1,
 'Peyton': 1,
 'Pflugerville': 2,
 'Philadelphia': 155,
 'Phoenix': 166,
 'Pico rivera': 1,
 'Piedmont': 2,
 'Pinellas park': 1,
 'Piscataway': 20,
 'Pittsburgh': 117,
 'Plainfield': 3,
 'Plainsboro center': 1,
 'Plainview': 1,
 'Plainwell': 1,
 'Plankinton': 1,
 'Plano': 78,
 'Plantation': 6,
 'Playa del rey': 1,
 'Pleasant prairie': 40,
 'Pleasant ridge': 1,
 'Pleasanton': 14,
 'Plymouth': 18,
 'Plymouth meeting': 29,
 'Pocatello': 8,
 'Point breeze': 4,
 'Pomona': 2,
 'Pompano beach': 3,
 'Pontiac': 3,
 'Port washington': 6,
 'Portland': 97,
 'Portsmouth': 10,
 'Poughkeepsie': 1,
 'Poway': 4,
 'Powell': 1,
 'Prairie view': 1,
 'Princeton': 62,
 'Providence': 11,
 'Provo': 4,
 'Pueblo': 1,
 'Pullman': 3,
 'Purcellville': 3,
 'Purchase': 3,
 'Quakertown': 2,
 'Quantico': 13,
 'Queens': 1,
 'Radford': 3,
 'Radnor': 1,
 'Raleigh': 105,
 'Ralston': 1,
 'Rancho cordova': 11,
 'Rancho santa margarita': 2,
 'Randolph': 4,
 'Rapid city': 3,
 'Raritan': 6,
 'Reading': 14,
 'Redlands': 7,
 'Redmond': 65,
 'Redondo beach': 3,
 'Redwood city': 66,
 'Remote': 2,
 'Reno': 9,
 'Rensselaer': 3,
 'Renton': 12,
 'Reston': 175,
 'Revere': 1,
 'Reynoldsburg': 1,
 'Richardson': 41,
 'Richfield': 12,
 'Richland': 7,
 'Richmond': 88,
 'Rico': 1,
 'Ridgecrest': 2,
 'Ridgefield': 2,
 'Ridgefield park': 1,
 'Rio': 1,
 'River hills': 1,
 'River oaks': 1,
 'Riverside': 3,
 'Riverton': 9,
 'Riverwoods': 9,
 'Roanoke': 1,
 'Rochester': 29,
 'Rock hill': 3,
 'Rockford': 1,
 'Rockleigh': 2,
 'Rockville': 53,
 'Rolling meadows': 4,
 'Rome': 13,
 'Ronkonkoma': 2,
 'Roosevelt': 2,
 'Rosedale': 3,
 'Roseland': 4,
 'Rosemead': 9,
 'Rosemont': 7,
 'Roseville': 6,
 'Rosslyn': 3,
 'Round lake': 2,
 'Round rock': 8,
 'Rowlett': 1,
 'Rushford': 1,
 'Ruskin': 1,
 'Sacramento': 10,
 'Saginaw': 1,
 'Saint ann': 1,
 'Saint charles': 3,
 'Saint cloud': 2,
 'Saint joseph': 7,
 'Saint louis': 13,
 'Saint louis park': 1,
 'Saint paul': 26,
 'Saint petersburg': 3,
 'Salem': 12,
 'Saline': 1,
 'Salt lake city': 50,
 'San antonio': 141,
 'San bernardino': 1,
 'San bruno': 20,
 'San carlos': 2,
 'San clemente': 1,
 'San diego': 191,
 'San fernando': 1,
 'San francisco': 510,
 'San jose': 137,
 'San juan': 4,
 'San juan capistrano': 1,
 ...}

In [38]:
city_entered = input("Enter your city ")
for key,val in cities_dict.items():
  if key.lower() == city_entered.lower():
    new_corpus  = jobs[jobs["inferred_city"] == key]

new_corpus

Enter your city Albany

,Unnamed: 0,job_title,category,company_name,inferred_city,inferred_state,inferred_country,job_description,job_type
82,82,Software Developer,Manufacturing/Mechanical,IPNS,Albany,Georgia,Usa,Read what people are saying about working here...,Undefined
1859,1859,Software Developer (Secret Clearance),Computer/Internet,MetroStar Systems,Albany,Georgia,Usa,Read what people are saying about working here...,Undefined
2850,2850,Software Developer,Computer/Internet,"CGI Group, Inc.",Albany,Georgia,Usa,Read what people are saying about working here...,Undefined
2853,2853,Software Developer,Computer/Internet,CGI Veterans Jobs,Albany,Georgia,Usa,Software Developer\n\nShare this\n\nFind simil...,Undefined
6023,6023,Software Developer,computer jobs,GCOM,Albany,New york,United states,"GCOM Software LLC - Albany, NY \nPosition 1: ...",Full Time
7604,7604,Senior Software Developer,Computer-or-internet,Company Info Follow Get job updates from mPowe...,Albany,New york,United states,"Job Function:\n\nCode, test, debug, implement,...",Undefined
9974,9974,Software Developer,Computer-or-internet,Company Info Follow Get job updates from Staff...,Albany,New york,United states,Job Description:\n\nThe selected candidate wil...,Undefined
11364,1364,Environmental Data Scientist,Engineering/Architecture,o'brien & gere engineers,Albany,New york,Usa,Read what people are saying about working here...,Undefined
15443,5450,Environmental Data Scientist,Engineering-or-architecture,o'brien & gere engineers,Albany,New york,United states,"OBG (www.OBG.com), also known as O’Brien & Ger...",Undefined
18601,8608,Principal Data Scientist - Marketing Cloud,math jobs,Oracle,Albany,New york,United states,"Designs, develops and programs methods, proces...",Undefined
19889,9896,Machine Learning Data Scientist,Engineering-or-architecture,Battelle,Albany,Oregon,United states,We are currently seeking a Machine Learning Da...,Undefined
19992,9999,Geology/Geo-Data Scientist,Engineering-or-architecture,"Albany, OR",Albany,Oregon,United states,Organization \n\nNational Energy Technology La...,Undefined