In [45]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [46]:
software_dev = pd.read_csv('software_developer_10000.csv')
data_sci = pd.read_csv('data_scientist_10000.csv')

In [47]:
software_dev.columns

Index(['crawl_timestamp', 'url', 'job_title', 'category', 'company_name',
       'city', 'state', 'country', 'inferred_city', 'inferred_state',
       'inferred_country', 'post_date', 'job_description', 'job_type',
       'salary_offered', 'job_board', 'geo', 'cursor', 'contact_email',
       'contact_phone_number', 'uniq_id'],
      dtype='object')

In [48]:
software_dev_subset = software_dev[['job_title', 'category', 'company_name',
       'inferred_city', 'inferred_state',
       'inferred_country', 'job_description', 'job_type']]

In [49]:
software_dev_subset.isna().sum()

job_title              0
category             839
company_name           0
inferred_city       2171
inferred_state       793
inferred_country     771
job_description        0
job_type               0
dtype: int64

In [50]:
software_dev_subset.describe()

,job_title,category,company_name,inferred_city,inferred_state,inferred_country,job_description,job_type
count,10000,9161,10000,7829,9207,9229,10000,10000
unique,2613,110,3053,1022,53,2,7593,5
top,Software Developer,Computer-or-internet,Robert Half Technology,Chicago,Oregon,United states,"The Software Developer will design, program an...",Undefined
freq,2217,3115,348,291,1022,5170,118,6678

In [51]:
software_dev_subset.dtypes

job_title           object
category            object
company_name        object
inferred_city       object
inferred_state      object
inferred_country    object
job_description     object
job_type            object
dtype: object

In [52]:
data_sci.columns

Index(['crawl_timestamp', 'url', 'job_title', 'category', 'company_name',
       'city', 'state', 'country', 'inferred_city', 'inferred_state',
       'inferred_country', 'post_date', 'job_description', 'job_type',
       'salary_offered', 'job_board', 'geo', 'cursor', 'contact_email',
       'contact_phone_number', 'uniq_id', 'html_job_description'],
      dtype='object')

In [53]:
data_sci_subset = data_sci[['job_title', 'category', 'company_name',
       'inferred_city', 'inferred_state',
       'inferred_country', 'job_description', 'job_type']]

In [54]:
software_dev_subset.dtypes

job_title           object
category            object
company_name        object
inferred_city       object
inferred_state      object
inferred_country    object
job_description     object
job_type            object
dtype: object

In [55]:
data_sci_subset.isna().sum()

job_title              5
category             889
company_name           7
inferred_city       1027
inferred_state       522
inferred_country     502
job_description        7
job_type               8
dtype: int64

In [56]:
# remove rows with no job title or description
data_sci_subset.dropna(subset = ['job_title'], inplace=True)
data_sci_subset.dropna(subset = ['job_description'], inplace=True)

<ipython-input-56-baf4bc9ac1c3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sci_subset.dropna(subset = ['job_title'], inplace=True)
<ipython-input-56-baf4bc9ac1c3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sci_subset.dropna(subset = ['job_description'], inplace=True)

In [57]:
data_sci_subset.isna().sum()

job_title              0
category             882
company_name           1
inferred_city       1020
inferred_state       516
inferred_country     495
job_description        0
job_type               1
dtype: int64

In [58]:
data_sci_subset.describe()

,job_title,category,company_name,inferred_city,inferred_state,inferred_country,job_description,job_type
count,10000,9118,9999,8980,9484,9505,10000,9999
unique,2754,366,4137,682,49,2,7738,5
top,Data Scientist,Computer-or-internet,CyberCoders,New york,California,United states,"SSRS Data Scientist\n\nSSRS, a leading data-dr...",Undefined
freq,2889,1505,628,690,1954,6964,76,6108

In [59]:
# concatenate both sets
frames = [software_dev_subset, data_sci_subset]
all_jobs = pd.concat(frames)

In [ ]:
all_jobs.to_csv('all_jobs.csv')